body {
    font-family: "Roboto" sans-serif;
    color: var(--SLATE, #434455);
    background-color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}
h2 {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
h3 {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}
/* Header Styles */
.page-header-nav {
display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

/* Logo styles */
.page-header-logo-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.page-header-logo-link-item {
    color: var(--IRIS, #4D5AE5);
}
/* Navigation Styles */
.page-header-nav-list-item {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        display: inline-flex;
}
.page-header-nav-list-item:hover {
    color: var(--OCEAN, #404BBF);
}
.page-header-nav-list-item:active {
    border-radius: 2px;
        background: var(--OCEAN, #404BBF);
}
/* Contacts Styles */
.contacts-list-link {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.contacts-list-link:hover {
    color: var(--OCEAN, #404BBF);
}
.contacts-list-item {
    display: inline-flex;
}
/* Hero Section  */
.hero-section {
        flex-shrink: 0;
        background-color: var(--NAVY-BLUE, #2E2F42);
}
.hero-section-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;

}
.hero-section-button {
    border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: inline-flex;
            padding: 16px 32px;
            align-items: flex-start;
            gap: 10px;
        color: var(--WHITE, #FFF);

}
.hero-section-button:hover {
    background: var(--OCEAN, #404BBF);
}
/* Advantages styles */
.advantages-title {
    color: #fff;
}
.advantages-list-item {
    display: inline-flex;
        width: 264px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
}

.advantages-list-title {
 color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.advantages-list-text {
color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* Team styles */
.team-section {
    background: var(--CLOUD, #F4F4FD);
    width: 1440px;
        height: 732px;
        flex-shrink: 0;
}
.team-section-list-item {
    display: inline-flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
}
.team-names {
    display: inline-flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
}
.team-text {
    text-align: center;
}
/* Portfolio styles */
.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
}
.portfolio-names {
    color: var(--NAVY-BLUE, #2E2F42);
}

/* Footer Styles */
.page-footer {
    width: 1440px;
        height: 312px;
        flex-shrink: 0;
        background: var(--NAVY-BLUE, #2E2F42);
}
.footer-link {
    color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.footer-link-item {
    color: var(--IRIS, #4D5AE5);
}
.footer-text {
    color: var(--CLOUD, #F4F4FD);
    
}